/* MyHood Foundation SCSS - This file contains all custom overrides/customizations of the base foundation styles*/

/* SCSS */

/* Background color for the top bar */
$topbar-bg: #E74C3D;

/* Height and margin */
$topbar-height: 65px;
$topbar-margin-bottom: em-calc(30);